* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;

}

#root {
  width: 100vw;
  height: 100vh;
}

