* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;

}

#root {
  width: 100vw;
  height: 100vh;
}

button{
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #cd5151;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}