.todo-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: clamp(17rem, 5vh, 30rem);
}

.todo-list{
  flex: 1;
  overflow-y: auto;
  padding: 0 0 0 0.5rem;
  margin-top: 1rem;

  scrollbar-width: thin;
  scrollbar-color: #e26f6f rgb(0, 0, 0, 0.2);
  min-height: 8rem;

}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.2rem 0.2rem 0;
  gap: 0.5rem;
}

.checkbox-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.todo-text{
  font-family : 'Patrick Hand', cursive;
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: #f5f5f5;
  font-weight: 400;
  cursor: pointer;
  word-break: break-word;
}

.todo-text.completed{
  text-decoration: line-through;
  color: #f5f5f5
}

h2{
  font-family: 'kdam thmor pro', sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem);
  color: #f5f5f5;
  text-align: center;
  margin: 0.5rem 0 0.3rem 0;  
}

.add-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0.5rem 0;
  position: relative;
  width: clamp (10rem, 5vw, 20rem);
}

.my-line{
  border: 0;
  height: 1px;
  background: #f5f5f5;
  margin-bottom: 1rem
}

.input-box{
  width: 100%;
  height: clamp(1.5rem, 5vw, 2rem);
  border-radius: 1rem;
  background-color: rgb(0, 0, 0, 0.2);
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  font-family: "Patrick Hand ", cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 1rem;
  font-size: clamp(0.5rem, 2vw, 1rem);

  position: relative;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  padding: 0 0 0 1rem;
}

.edit-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0.5rem 0;
  position: relative;
  width: clamp (10rem, 5vw, 20rem);
}


.edit-box{
  width: 100%;
  font-family: 'Patrick Hand', cursive;
  padding: 0 1rem 0 1rem;
  height: clamp(1rem, 5vw, 1.5rem);
  border-radius: 0.4rem;
  background-color: rgb(0, 0, 0, 0.2);
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.update-btn.inside{
  background-color:transparent;
  
  border: none;
  border-radius: 50%;
  color: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
  position: absolute;
  right: 0.35rem;
  top: 50%;
  transform: translateY(-55%);
  border-radius: 50%;
}
.todo-actions{
  display: flex;
  gap: 0.2rem;
  margin: 0 0 0 1.5rem;  
}

.edit,
.delete{
  color: #f5f5f5;

}

.todo-actions svg{
  color: #ffffff;
  cursor: pointer;
  opacity: 0.7;
}

.todo-actions svg:hover{
  opacity: 1;
}

.add-btn.inside{
  background-color: transparent;
  border: none;
  position: absolute;
  border-radius: 50%;
  right: 0.50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
  
}